[
    EntityData(
        marker: SimpleMarker(0),
        components: (Some(Position([
            147.99792,
            155.9679,
        ])), Some(Kinematics(
            vel: [
                1.2682045,
                0.20378251,
            ],
            accel: [
                0.0010259992,
                -0.028594494,
            ],
            past_accel: [
                0.0010259992,
                -0.028594494,
            ],
        )), Some(Mass(0.01)), Some(Draw(Color(
            r: 1,
            g: 1,
            b: 1,
            a: 1,
        ))), Some(Radius(0.8))),
    ),
    EntityData(
        marker: SimpleMarker(1),
        components: (Some(Position([
            150.00899,
            99.919785,
        ])), Some(Kinematics(
            vel: [
                -0.00016909385,
                -0.0001738375,
            ],
            accel: [
                -0.00000013679988,
                0.000003812599,
            ],
            past_accel: [
                -0.00000013679988,
                0.000003812599,
            ],
        )), Some(Mass(75)), Some(Draw(Color(
            r: 1,
            g: 1,
            b: 1,
            a: 1,
        ))), Some(Radius(5))),
    ),
]