[
    EntityData(
        marker: SimpleMarker(0),
        components: (Some(Position([
            175,
            70,
        ])), Some(Kinematics(
            vel: [
                0,
                -1,
            ],
            accel: [
                0,
                0,
            ],
            past_accel: [
                0,
                0,
            ],
        )), Some(Mass(80)), Some(Draw(Color(
            r: 1,
            g: 1,
            b: 1,
            a: 1,
        ))), Some(Radius(4.5)), Some(Trail(
            points: [],
            max_len: 35,
        ))),
    ),
    EntityData(
        marker: SimpleMarker(1),
        components: (Some(Position([
            125,
            70,
        ])), Some(Kinematics(
            vel: [
                0,
                1,
            ],
            accel: [
                0,
                0,
            ],
            past_accel: [
                0,
                0,
            ],
        )), Some(Mass(80)), Some(Draw(Color(
            r: 1,
            g: 1,
            b: 1,
            a: 1,
        ))), Some(Radius(4.5)), Some(Trail(
            points: [],
            max_len: 35,
        ))),
    ),
    EntityData(
        marker: SimpleMarker(2),
        components: (Some(Position([
            330,
            70,
        ])), Some(Kinematics(
            vel: [
                0,
                1,
            ],
            accel: [
                0,
                0,
            ],
            past_accel: [
                0,
                0,
            ],
        )), Some(Mass(0.5)), Some(Draw(Color(
            r: 1,
            g: 1,
            b: 1,
            a: 1,
        ))), Some(Radius(1)), Some(Trail(
            points: [],
            max_len: 350,
        ))),
    ),
    EntityData(
        marker: SimpleMarker(3),
        components: (Some(Position([
            -30,
            70,
        ])), Some(Kinematics(
            vel: [
                0,
                -1,
            ],
            accel: [
                0,
                0,
            ],
            past_accel: [
                0,
                0,
            ],
        )), Some(Mass(0.5)), Some(Draw(Color(
            r: 1,
            g: 1,
            b: 1,
            a: 1,
        ))), Some(Radius(1)), Some(Trail(
            points: [],
            max_len: 350,
        ))),
    ),
]
