[
    EntityData(
        marker: SimpleMarker(0),
        components: (Some(Position([
            925,
            100,
        ])), Some(Kinematics(
            vel: [
                0,
                0,
            ],
            accel: [
                0,
                0,
            ],
            past_accel: [
                0,
                0,
            ],
        )), Some(Mass(0.01)), Some(Draw(Color(
            r: 1,
            g: 1,
            b: 1,
            a: 1,
        ))), Some(Radius(2.0)), Some(Trail(
            points: [],
            max_len: 4000,
        ))),
    ),
    EntityData(
        marker: SimpleMarker(1),
        components: (Some(Position([
            900,
            100,
        ])), Some(Kinematics(
            vel: [
                0,
                -1,
            ],
            accel: [
                0,
                0,
            ],
            past_accel: [
                0,
                0,
            ],
        )), Some(Mass(15)), Some(Draw(Color(
            r: 1,
            g: 1,
            b: 1,
            a: 1,
        ))), Some(Radius(5)), Some(Trail(
            points: [],
            max_len: 4000,
        ))),
    ),
    EntityData(
        marker: SimpleMarker(2),
        components: (Some(Position([
            150,
            100,
        ])), Some(Kinematics(
            vel: [
                0,
                0,
            ],
            accel: [
                0,
                0,
            ],
            past_accel: [
                0,
                0,
            ],
        )), Some(Mass(650)), Some(Draw(Color(
            r: 1,
            g: 1,
            b: 1,
            a: 1,
        ))), Some(Radius(20)), Some(Trail(
            points: [],
            max_len: 35,
        ))),
    ),
]
